body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinha ao centro verticalmente */
    align-items: center; /* Alinha horizontalmente */
}
@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-row div {
        margin-right: 0; 
        margin-bottom: 10px; 
    }

    .form-row div:last-child {
        margin-bottom: 0;
    }
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-row div {
    flex: 1;
    margin-right: 10px;
}

.form-row div:last-child {
    margin-right: 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: none;
    height: 80px;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group input {
    margin-right: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    text-align: center;
}

.btn:hover {
    background: #218838;
}

.btn.alterar {
    background: #ffc107;
}

.btn.alterar:hover {
    background: #e0a800;
}

.btn.excluir {
    background: #dc3545;
}

.btn.excluir:hover {
    background: #c82333;
}

.btn.limpar {
    background: #6c757d;
}

.btn.limpar:hover {
    background: #5a6268;
}
